<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница пользователя</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="portal-container">
        <div class="header">
            <h1>Страница пользователя</h1>
            <a href="/">Вернуться на главную</a>
        </div>

        <div class="footer">
            <p>&copy; 2025 Все права защищены. <a href="">Условия использования</a></p>
        </div>
    </div>

</body>
</html>